@layer reset, variables, global, custom;

@layer custom {

  .wrapper {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 var(--space-s);
  }

  .tab input {
    position: absolute;
    /*left: 0;*/
    top: 0;
    opacity: 0;
    z-index: -1;
  }

  .tab input:checked + .tab__label {
    color: light-dark(var(--color-highlight-light), var(--color-highlight-dark));
  }

  .tab input:hover + .tab__label {
    color: light-dark(var(--color-highlight-light), var(--color-highlight-dark));
  }

  .tab__label {
    display: flex;
    /*justify-content: space-between;*/
    padding: var(--space-2xs);
    font-size: var(--step-3);
    cursor: pointer;
    color: light-dark(var(--color-black), var(--color-white));
    /*background-color: light-dark(var(--color-white), var(--color-black));*/
    font-family: "Roboto Condensed Variable", sans-serif;
    text-transform: uppercase;
  }

  .tab-label-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "tab-label-icon tab-title"
      "tab-label-icon tab-subtitle";
  }

  .tab-label-icon {
    grid-area: tab-label-icon;
    padding-right: var(--space-xs);
    display: flex;
    align-items: center;
  }

  .tab-title {
    grid-area: tab-title;
    display: flex;
    align-items: flex-end;
  }

  .tab-subtitle {
    grid-area: tab-subtitle;
    font-size: var(--step-1);
    text-transform: lowercase;
  }

  .tab__content {
    max-height: 0;
    overflow: hidden;
    padding: 0 var(--space-s);
  }

  .tab input:checked ~ .tab__content {
    max-height: none;
  }

  .tab {
    font-family: "Inter Variable", sans-serif;
    font-size: var(--step-1);
    display: grid;
  }
}
