---
import "@styles/global.css";
import "@styles/custom.css";
import "@styles/variables.css";
import "@styles/reset.css";
import '@fontsource-variable/inter';
import '@fontsource-variable/roboto-condensed';

import Project from '@components/Project.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ethan's Projects</title>
	</head>
	<div class="wrapper">
		<header>
			<div class="tab">
			  <input type="radio" name="projects" id="p1" checked/>
			  	<label for="p1" class="tab__label">
				  <h1>Hi Ethan, I need...</h1>
				</label>
			</div>
		</header>
		<body>
			<Project name="robot-keyboard" />
			<Project name="instabrain" />
			<Project name="mri-keyboard" />
			<Project name="gain-twist-rifling" />
			<Project name="vibrotactile-stimulators" />
		</body>
	</div>
</html>
