---
interface Props {
  name: string;
}

const projectName = Astro.props.name;

const allProjects = Object.values(import.meta.glob("@projects/*.md", { eager: true }));
const currentProject = allProjects.find(proj => proj.file.includes(projectName));

const allIcons = Object.values(import.meta.glob('@icons/*.svg',{ eager: true }));
const CurrentIcon = allIcons.find(icon => icon.default.src.includes(currentProject.frontmatter.icon)).default; 
---

<div class="tab">
    <input type="radio" name="projects" id={currentProject.frontmatter.id} />
    <label for={currentProject.frontmatter.id} class="tab__label">
        <div class="tab-label-grid-container">
            <div class="tab-label-icon">
                <CurrentIcon width={96}/>
            </div>
            <div class="tab-title">
                {currentProject.frontmatter.title}
            </div>
            <div class="tab-subtitle">
                {currentProject.frontmatter.subtitle}
            </div>
        </div>
    </label>
    <div class="tab__content">
        <currentProject.Content />
    </div>
</div>
